/* Writing this as the first comment of my css */

body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 5px;
  margin-top: 1.5%;
}

h2 {
  margin-left: 10px;
  margin-top: 1%;
}

h3 {
  margin-right: 15px;
  margin-top: 0.5%;
}
