/* Writing this as the first comment of my css */

body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 5px;
  margin-top: 1.5%;
  margin-bottom: 0.5%;
  margin-right: 5px;
  display: block;
}

h2 {
  margin: 10px 5px 0.5% 1%;
}

h3 {
  margin-right: 15px;
  margin-top: 0.5%;
  text-decoration: underline;
  color: navy;
  text-align: left;
  display: inline;
}

details {
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
}

summary {
  padding: 1% 1% 1% 1%;
}

.Glossary nav {
  height: auto;
  width: auto;
  max-width: auto;
  min-width: auto;
}
